@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?a9pdx7');
  src:  url('fonts/icomoon.eot?a9pdx7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?a9pdx7') format('truetype'),
    url('fonts/icomoon.woff?a9pdx7') format('woff'),
    url('fonts/icomoon.svg?a9pdx7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e908";
}
.icon-location-small:before {
  content: "\e907";
}
.icon-chevron-down:before {
  content: "\e900";
}
.icon-chevron-up:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-dots:before {
  content: "\e903";
}
.icon-location:before {
  content: "\e904";
}
.icon-maximize:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
