@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  a {
    @apply transition-colors;
  }
  a {
    @apply hover:text-primary;
  }
}

@layer components {
  .btn {
    @apply inline-flex px-4 py-3 md:px-6 md:py-4 xl:px-10 xl:py-6 border border-primary rounded-[4px] items-center justify-center bg-transparent transition-colors hover:bg-primary text-primary hover:text-white font-bold uppercase tracking-[0.008rem] text-sm lg:text-base leading-none;
  }
  .btn-large {
    @apply btn border-2 text-lg lg:text-xl xl:text-2xl bg-primary hover:bg-secondary text-white font-normal tracking-[0.012rem] xl:py-8 xl:px-12 hover:border-secondary rounded-none;
  }
  .icon-svg * {
    @apply fill-current;
  }
  .header-menu {
    @apply ml-0 xl:ml-8 3xl:ml-10 gap-3 md:gap-4 lg:gap-4 3xl:gap-14 flex xl:items-center mr-auto flex-col 2xl:flex-row py-4 xl:py-0 items-start;
  }
  .header-menu a {
    @apply font-bold uppercase transition-colors hover:text-primary;
  }
  .header-phones {
    @apply 2xl:border-l 2xl:border-r border-shade-900 flex flex-col gap-1 justify-center items-start font-bold px-4 xl:px-6 3xl:px-10;
  }
  .header-menu-container {
    @apply absolute 2xl:relative hidden 2xl:flex grow bg-white p-4 2xl:p-0 top-full z-40;
  }
  .header-menu-container.open {
    @apply flex flex-col items-start 2xl:flex-row gap-4 2xl:gap-0 w-auto right-0;
  }

  .slider {
    @apply relative w-full h-full flex flex-col gap-4 xl:gap-8;
  }
  .slider-btn {
    @apply text-sm mb-2 md:text-lg lg:text-2xl flex gap-2 font-bold uppercase;
  }
  .slider-btn span {
    @apply text-xs md:text-base;
  }

  .active .slider-btn {
    @apply text-secondary transition-all;
  }
  .slider-btn::before {
    @apply w-0 h-px bg-secondary -mr-2 xl:-mr-2 self-center transition-all;
    content: "";
  }
  .active .slider-btn::before {
    @apply w-14 h-px bg-secondary mr-4 xl:mr-6 self-center;
    content: "";
  }
  .slide {
    @apply overflow-hidden;
  }
  .slide h2 {
    @apply text-lg sm:text-2xl md:text-4xl lg:text-5xl xl:text-6xl 3xl:text-[96px] uppercase font-bold leading-[1.15em] md:leading-[1.15em] lg:leading-[1.15em] xl:leading-[1.15em] 2xl:leading-[1.15em] max-w-[80%];
  }
  .digits {
    @apply absolute bottom-5 right-4 hidden xl:flex max-w-[540px] xl:max-w-full md:grid md:grid-cols-2;
  }
  .digits::before {
    @apply -translate-y-8 absolute text-right lg:text-left w-full;
    content: "МЫ В ЦИФРАХ";
  }
  .digits-item {
    @apply flex p-3 md:p-3 lg:p-3 xl:p-4 3xl:p-10 border-white border xl:border-r-0 xl:last:border-r flex-col gap-0;
  }
  .digits-item h3 {
    @apply text-3xl md:text-3xl lg:text-5xl 2xl:text-[64px] font-bold text-secondary;
  }
  .digits-item span {
    @apply text-base lg:text-xl font-medium;
  }

  .digits-mobile {
    @apply md:hidden relative my-16 grid grid-cols-1 md:grid-cols-2 mx-10;
  }
  .digits-mobile::before {
    @apply -translate-y-10 translate-x-4 absolute;
    content: "МЫ В ЦИФРАХ";
  }
  .digits-mobile .digits-item {
    @apply border border-shade-900;
  }

  .big-link {
    @apply 3xl:text-[80px] 2xl:text-6xl xl:text-5xl lg:text-4xl text-3xl font-bold uppercase inline-flex gap-3 lg:gap-4 xl:gap-5 3xl:gap-6 hover:text-primary;
  }
  .big-link i {
    @apply text-primary text-[40px];
  }

  .news-header {
    @apply flex justify-between md:items-center flex-col md:flex-row gap-6;
  }
  .news-filter {
    @apply flex gap-6;
  }
  .news-filter button {
    @apply text-lg lg:text-xl 2xl:text-2xl font-bold text-shade-200 flex;
  }
  .news-filter button span {
    @apply text-xs;
  }
  .news-filter button.active {
    @apply text-shade-900;
  }
  .news-buttons {
    @apply flex gap-2 items-center;
  }
  .news-buttons button {
    @apply flex w-10 lg:w-14 3xl:w-20 h-10 lg:h-14 3xl:h-20 border border-shade-900 text-shade-900 hover:bg-shade-900 hover:text-shade-100 rounded-full
    items-center justify-center text-2xl;
  }
  .news-buttons a {
    @apply font-bold text-primary ml-4 2xl:text-2xl;
  }
}

@media (max-height: 1100px) {
  .slider .digits {
    @apply bottom-[110px];
  }
}
